
{% extends 'pins/layouts/base.html.twig' %}

{%block title 'edit account'%}

{%block body%}

<h1 class="text-center my-5">Edit account</h1>
    {{include('account/partials/_form.html.twig') }}

{%endblock%}