

{% extends 'pins/layouts/base.html.twig' %}

{% block title 'edit pin #'~ pin.id %}

{% block body %}
    <div >
        <div class="col-md-4 mx-auto">
            <h1>Edit pin{{pin.id}} </h1>
        
            {{include('pins/layouts/partials/_form.html.twig', {submitButtonText:'Edit Pin'})}}

        </div>
    </div>

{% endblock %}